.contacts-page__content {
  display: flex;
  flex-direction: column;
}

.contacts-page__button-wrapper {
  margin-left: 1rem;
}

.contacts-page__btn {
  margin: 1rem;
}

.contacts-page__table {
  padding: 1rem;
}
