.search-form {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    min-height: 16rem;
}
