.email-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 7rem;
    box-shadow: 0 0 2rem 0 rgba(222, 237, 249, 0.2), 0 1rem 1rem 0 rgba(39, 114, 144, 0.37);
    border-radius: 0.7rem;
    font-family: "Roboto", sans-serif;
}

.email-form__title {
    font-size: 28px;
    color: #1f627b;
    margin-bottom: 2rem;
}

.email-form__emails-input,
.email-form__title-input,
.email-form__message-textarea {
    width: 30rem;
}