.text-input-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 17rem;
}

.text-input {
    font-size: 14px;
    border: 0;
    padding: 1rem;
    border-radius: 0.3rem;
    box-sizing: border-box;
    background: #e4f3ff;
}

.text-input_error {
    border: 1px solid red;
}

.text-input__error-text {
    color: red;
    word-wrap: break-word;
}
