* {
    padding: 0;
    margin: 0;
}

html, body, #root, .app {
    height: 100%;
    min-height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app__content {
    flex: 1 0 auto;
}

.app-header, .app__footer {
    flex: 0 0 auto;
}
