@import '~react-notifications/lib/notifications.css';
@import '~react-datepicker/dist/react-datepicker.css';
@import '~react-dropdown/style.css';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
    padding: 0;
    margin: 0;
}

html, body, #root, #root > div:first-child {
    height: 100%;
    min-height: 100%;
}
